
  
  .stage .stageMember {
    height: 20em;
    min-width: 20em;
  }
  
  .stage .stageMember .details {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  .stage .stageMember .details .name {
    min-width: 10em;
    min-height: 5em;
    background-color: rgba(18, 14, 37, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }
  
  .stage .stageMember .details img {
    border-radius: 100%;
    background-color: #FEFEFE;
    width: 10em;
    height: auto;
  }